<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: rgba(31, 93, 143, 0.863);">
        <div class="container">
            <a style="font-family: acne;" class="navbar-brand mr-4" href="{{url_for('main.index')}}">Blog-App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="navbar-nav">
                    <a style="font-family: acne;" class="nav-item nav-link" href="{{ url_for('main.new_post') }}">New Post</a>
                    <a style="font-family: acne;" class="nav-item nav-link" href="{{url_for('main.profile')}}">profile</a>
                    <a style="font-family: acne;" class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
